@inherits LayoutComponentBase
@using OnlineShop.States
@using OnlineShop.Utilities
@inject CartState CartState
@inject INotificationService NotificationService



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="page">

                <a href="checkout" class="btn btn-success" style="font-family:con3;">
                    <i class="oi oi-cart"></i>&nbsp;Cart
                    <span class="badge bg-dark">@SelectedItemsCount1</span>
                </a>
            </div>
     
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private int SelectedItemsCount1 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await NotificationService.Subscribe<CartChangeEvent>(UpdateItemCount);
        SelectedItemsCount1 = CartState.SelectedItems.Count;
        await base.OnInitializedAsync();
    }

    private void UpdateItemCount(CartChangeEvent @event)
    {
        SelectedItemsCount1 = @event.Items.Count;
        StateHasChanged();
    }
}
