@using OnlineShop.Models
@using OnlineShop.States
@inject CartState CartState
@inject IJSRuntime JSRuntime

<div class="card w-25">
    <div class="card-body">
        <h5 class="card-title">@Product.Name</h5>
        <p class="card-text">@Product.Description</p>
        <blockquote class="card-text">$@Product.Price</blockquote>
        @if (DisplayBuyButton)
        {
            <button class="btn btn-primary" type="button" @onclick="HandleButtonOnClick">Buy</button>
        }
    </div>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public Product Product { get; set; } = new();

    [Parameter]
    public bool DisplayBuyButton { get; set; } = false;

    private async Task HandleButtonOnClick()
    {
        await JSRuntime.InvokeVoidAsync("alert", "Product added to cart!");
        await CartState.AddProductToCartAsync(Product.Id);
    }
}