@page "/"
@using OnlineShop.States
@using OnlineShop.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject CartState CartState




<h1 class="payment-dicription-title">Welcome to DownSouthSwagg! </h1>

    <button class="btn btn-success payment-dicription-title" style="font-size: 16px;" type="button" @onclick="NavigateToProductPage">View Products</button>
                    


<br />


<!--
        @foreach (var product in Products)
        {
    
                <ProductDisplay Product="product" 
                                DisplayBuyButton="true"
                                ItemCountFunction="@ItemCountFunction" />
            
        }
-->



@code{
    [Parameter]
    public int ItemCountFunction { get; set;}
    [Parameter]
    public EventCallback<decimal> TotalPriceChanged { get; set; }
    public List<Product> Products { get; set; } = new();
    private void NavigateToProductPage()
    {
        NavigationManager.NavigateTo("/product-list");
    }
    protected override async Task OnInitializedAsync()
    {
        Products = await Http.GetFromJsonAsync<List<Product>>("sample-data/products.json") ?? new();
        await TotalPriceChanged.InvokeAsync(ItemCountFunction);
        StateHasChanged();
    }
}
