@font-face {
    font-family: "Tillana-Bold";
    src: url('fonts/Tillana-Bold.ttf') format('truetype');
}

.payment-dicription-title {
    font-family: "Tillana", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-display: bold;
}