@page "/"
@inject NavigationManager NavigationManager



<PageTitle>DownSouthSwagg</PageTitle>
<h1 class="payment-dicription-title">Welcome to DownSouthSwagg! </h1>

    <button class="btn btn-success payment-dicription-title" style="font-size: 16px;" type="button" @onclick="NavigateToProductPage">View Products</button>
                    


<br />
@code{
    private void NavigateToProductPage()
    {
        NavigationManager.NavigateTo("/product-list");
    }
}
