@font-face {
    font-family: "Tillana";
    src: url('fonts/Tillana-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Tillana-Bold";
    src: url('fonts/Tillana-Bold.ttf') format('truetype');
}

.payment-dicription-title {
    font-family: "Tillana", Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.payment-light-title {
    font-family: "Tillana-Bold", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.stock-notice-bold {
    font-family: "Tillana-Bold", Arial, Helvetica, sans-serif;
    color: red;
    font-size: 24px;
}