@page "/product-list"
@using OnlineShop.Models
@using OnlineShop.States
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject CartState CartState

<PageTitle>Product List</PageTitle>
<h3 class="product-description-bold-large">Product List</h3>
<Virtualize Items="@Products" Context="product">
    <ProductDisplay Product="product" 
                    DisplayBuyButton="true"
                    ItemCountFunction="@ItemCountFunction" />
</Virtualize>


 

    <div class="d-flex justify-content-center">
      <button class="btn btn-success product-description-bold-large" type="button" @onclick="NavigateToCheckoutPage">View Cart</button>
    </div>
    <br/><br/>

    <div class="d-flex justify-content-center">
      <br />
    </div>

@code {
    public List<Product> Products { get; set; } = new();
    
    [Parameter]
    public int ItemCountFunction { get; set;}

    [Parameter]
    public EventCallback<decimal> TotalPriceChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Products = await Http.GetFromJsonAsync<List<Product>>("sample-data/products.json") ?? new();
            await TotalPriceChanged.InvokeAsync(ItemCountFunction);
    }
    private void NavigateToCheckoutPage()
    {
        NavigationManager.NavigateTo("/checkout");
    }

}