@page "/product-list"
@using OnlineShop.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>DownSouthSwagg</PageTitle>
<h3 class="payment-dicription-title">ProductList</h3>
@foreach (var product in Products)
{
    <ProductDisplay Product="product" DisplayBuyButton="true"/>
}

<div class="d-flex justify-content-center">
  <button class="btn btn-success" type="button" @onclick="NavigateToCheckoutPage">Pay Now</button>
</div>
@code {
    public List<Product> Products { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Products = await Http.GetFromJsonAsync<List<Product>>("sample-data/products.json") ?? new();
    }
    private void NavigateToCheckoutPage()
    {
        NavigationManager.NavigateTo("/checkout");
    }
}