
.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
}

#buyButton:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

@font-face {
    font-family: "Tillana-Bold";
    src: url('fonts/Tillana-Bold.ttf') format('truetype');
}



.product-description-bold-large {
    font-family: "Tillana-Bold", Arial, Helvetica, sans-serif;
    font-size: 24px;
}