@font-face{
    font-family: "ReenieBeanie";
    src: url('/fonts/ReenieBeanie.ttf') format('truetype');
}
@font-face{
    font-family: "Tillana-Regular";
    src: url('/fonts/Tillana-Regular.ttf') format('truetype');
}
@font-face{
    font-family: "Tillana-ExtraBold";
    src: url('/fonts/Tillana-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: "Tillana-Bold";
    src: url('/fonts/Tillana-Bold.ttf') format('truetype');
}

.product-description-bold-larger {
    font-family: "Tillana-Bold", Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.product-description-bold-large {
    font-family: "ReenieBeanie", Arial, Helvetica, sans-serif;
    font-size: 24px;
    
}
.payment-dicription-title {
    font-family: "Tillana-Regular", Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.title-bold-text-tillana-bold {
    font-family: "Tillana-ExtraBold", Arial, Helvetica, sans-serif;
    font-size: 24px;
}
